workflows.json
[
  {
    "updatedAt": "2026-03-18T09:01:36.123Z",
    "createdAt": "2026-03-18T08:49:55.509Z",
    "id": "0pMZsPZDHEc5vjXMw0mKE",
    "name": "RAG-Hybrid Seach-Vector Retrieval workflow",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "2249655a-bf11-4114-a5df-89be0426d430",
        "name": "Manual Trigger"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "52bd61e6-26ef-456c-9218-dc080635ded8",
                "name": "query",
                "value": "llm",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "id": "472eeedd-c065-4045-a064-4fbe7169dca9",
        "name": "Input - User Query"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={\n  \"statements\": [\n    {\n      \"statement\": \"CALL db.index.vector.queryNodes('documentEmbeddingIndex', $embedding) YIELD node, score RETURN node.title AS title, score\",\n      \"parameters\": {\n        \"embedding\": {{$json.embedding}}\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          784,
          0
        ],
        "id": "089c6a68-939a-43a8-967e-47792c5e8980",
        "name": "Request til Neo4j",
        "credentials": {
          "httpBasicAuth": {
            "id": "yJRR80som9xIIRfv",
            "name": "Unnamed credential 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const results = $json.results[0].data;\nreturn results.map(r => ({\n  json: { title: r.row[0], score: r.row[1] }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          0
        ],
        "id": "20071149-6d2d-4a9a-970c-003aa9abd61c",
        "name": "Parse Node"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/embeddings",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{$json.query}}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          416,
          0
        ],
        "id": "a588de38-3504-49dc-b5f8-a2a5f14c4711",
        "name": "HTTP Request",
        "credentials": {
          "httpBearerAuth": {
            "id": "TEdrPFtecnuBGsVa",
            "name": "Bearer Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [{\n  json: {\n    query: $json.query,\n    embedding: $json.data[0].embedding\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          624,
          0
        ],
        "id": "61eb93bc-f726-4166-92a4-d2333f758b66",
        "name": "Embed Array"
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Input - User Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Input - User Query": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request til Neo4j": {
        "main": [
          [
            {
              "node": "Parse Node",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Embed Array",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embed Array": {
        "main": [
          [
            {
              "node": "Request til Neo4j",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "f2fb99ff-ee07-4084-bab1-7a800e615aba",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-18T08:49:55.514Z",
        "createdAt": "2026-03-18T08:49:55.514Z",
        "role": "workflow:owner",
        "workflowId": "0pMZsPZDHEc5vjXMw0mKE",
        "projectId": "U6s8CwDPyCKnn9l7"
      }
    ],
    "activeVersion": null,
    "tags": []
  },
  {
    "updatedAt": "2026-03-18T08:26:18.388Z",
    "createdAt": "2026-03-17T09:35:30.380Z",
    "id": "1JDxkz6iohY4ry06UZ4tg",
    "name": "Backup Flow",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 30
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [
          -432,
          -128
        ],
        "name": "Schedule Trigger",
        "id": "3208cb53-2c03-43e2-864d-70ab0d7199a5"
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:5678/api/v1/workflows",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-N8N-API-KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3NWRiNzUyNS1kNWJkLTRkNTUtOGE3Ny02MGU5NTMwYThmMzAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzQwMTUyLCJleHAiOjE3Nzg5MDQwMDB9.dRurgqTaAV6QLSbqj7ZkZS3KQ646rOph7Pi77foDris"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          -208,
          -128
        ],
        "name": "HTTP Request",
        "id": "3957c1ca-47e9-4aeb-bcd2-a2a2ba163b76"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          0,
          -128
        ],
        "name": "Edit Fields",
        "id": "ad3aee6a-0a68-4c23-9710-ecf475db35a0"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "mode": "name",
            "value": "peyhunter"
          },
          "repository": {
            "mode": "name",
            "value": "n8n-backup"
          },
          "filePath": "workflows.json",
          "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
          "commitMessage": "Backup Commit"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          208,
          -128
        ],
        "name": "Edit a file",
        "id": "420a2d38-c278-424a-8d4b-43eea862c7a2",
        "webhookId": "061abb0f-d289-4025-a03b-2c8c1aeccae0",
        "credentials": {
          "githubApi": {
            "id": "s1sHrgGas8ZeHIQR",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Edit a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "65564fd1-98b8-4fc1-8da4-96386b576e14",
    "activeVersionId": "cc96e220-d8e4-4eb3-bd86-fd3deac5713e",
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-03-17T09:35:30.383Z",
        "createdAt": "2026-03-17T09:35:30.383Z",
        "role": "workflow:owner",
        "workflowId": "1JDxkz6iohY4ry06UZ4tg",
        "projectId": "U6s8CwDPyCKnn9l7"
      }
    ],
    "activeVersion": {
      "updatedAt": "2026-03-17T09:40:07.000Z",
      "createdAt": "2026-03-17T09:39:34.526Z",
      "versionId": "cc96e220-d8e4-4eb3-bd86-fd3deac5713e",
      "workflowId": "1JDxkz6iohY4ry06UZ4tg",
      "nodes": [
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "minutes",
                  "minutesInterval": 30
                }
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1,
          "position": [
            -432,
            -128
          ],
          "name": "Schedule Trigger",
          "id": "3208cb53-2c03-43e2-864d-70ab0d7199a5"
        },
        {
          "parameters": {
            "url": "http://host.docker.internal:5678/api/v1/workflows",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "X-N8N-API-KEY",
                  "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3NWRiNzUyNS1kNWJkLTRkNTUtOGE3Ny02MGU5NTMwYThmMzAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzQwMTUyLCJleHAiOjE3Nzg5MDQwMDB9.dRurgqTaAV6QLSbqj7ZkZS3KQ646rOph7Pi77foDris"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            -208,
            -128
          ],
          "name": "HTTP Request",
          "id": "3957c1ca-47e9-4aeb-bcd2-a2a2ba163b76"
        },
        {
          "parameters": {
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3,
          "position": [
            0,
            -128
          ],
          "name": "Edit Fields",
          "id": "ad3aee6a-0a68-4c23-9710-ecf475db35a0"
        },
        {
          "parameters": {
            "resource": "file",
            "operation": "edit",
            "owner": {
              "mode": "name",
              "value": "peyhunter"
            },
            "repository": {
              "mode": "name",
              "value": "n8n-backup"
            },
            "filePath": "workflows.json",
            "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
            "commitMessage": "Hourly Commit"
          },
          "type": "n8n-nodes-base.github",
          "typeVersion": 1,
          "position": [
            208,
            -128
          ],
          "name": "Edit a file",
          "id": "420a2d38-c278-424a-8d4b-43eea862c7a2",
          "webhookId": "061abb0f-d289-4025-a03b-2c8c1aeccae0",
          "credentials": {
            "githubApi": {
              "id": "s1sHrgGas8ZeHIQR",
              "name": "GitHub account"
            }
          }
        }
      ],
      "connections": {
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "HTTP Request",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP Request": {
          "main": [
            [
              {
                "node": "Edit Fields",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Edit Fields": {
          "main": [
            [
              {
                "node": "Edit a file",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Peyton Hunter",
      "name": "Version cc96e220",
      "description": "",
      "autosaved": true
    },
    "tags": []
  },
  {
    "updatedAt": "2026-03-17T09:31:58.502Z",
    "createdAt": "2026-03-17T09:31:58.502Z",
    "id": "BvivyG9x6oUQWIM1Qt-uL",
    "name": "Daily NYTimes Top News",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "name": "Daily Trigger",
        "id": "f2fb94ae-c5a5-4cf5-b240-85462ad3c442"
      },
      {
        "parameters": {
          "url": "https://api.nytimes.com/svc/topstories/v2/home.json?api-key={{ $credentials.nytimes.key }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          208,
          0
        ],
        "name": "Get Top Stories",
        "id": "98c18ca5-300d-4d5e-9f1a-601d3f961d1b"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const top5 = item.json.results.slice(0,5).map((story, idx) => `${idx+1}. ${story.title} - ${story.url}`).join('\\n\\n');\n  return { json: { emailBody: `Top 5 NYTimes stories today:\\n\\n${top5}` } };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          0
        ],
        "name": "Format Email Body",
        "id": "a7cd65e4-704f-46a8-b655-110130c64589"
      },
      {
        "parameters": {
          "fromEmail": "Nando.goat@gmail.com",
          "toEmail": "Nando.goat@gmail.com",
          "subject": "Today's Top 5 NYTimes Stories",
          "text": "={{ $json.emailBody }}",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2,
        "position": [
          608,
          0
        ],
        "name": "Send Email",
        "id": "b0702308-3196-4203-a2ba-cc7aeb307901",
        "webhookId": "78d3648c-41ae-493e-bff5-7a8886b06eef"
      }
    ],
    "connections": {
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "Get Top Stories",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Top Stories": {
        "main": [
          [
            {
              "node": "Format Email Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Email Body": {
        "main": [
          [
            {
              "node": "Send Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "25e04638-095b-4c19-ae2f-a5abc8c2ff75",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-17T09:31:58.508Z",
        "createdAt": "2026-03-17T09:31:58.508Z",
        "role": "workflow:owner",
        "workflowId": "BvivyG9x6oUQWIM1Qt-uL",
        "projectId": "U6s8CwDPyCKnn9l7"
      }
    ],
    "activeVersion": null,
    "tags": []
  },
  {
    "updatedAt": "2026-03-17T09:48:40.653Z",
    "createdAt": "2026-03-17T09:34:37.716Z",
    "id": "Xgd2flbp4fPcMlLNzwAZV",
    "name": "RAG-Receive",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -384,
          -144
        ],
        "name": "Manual Trigger",
        "id": "02127cb9-e055-466e-92f6-62b1095d7ae4"
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { id:'chunk1', text:'Retrieval Augmented Generation combines search and LLM generation.', source:'week7' } }, { json: { id:'chunk2', text:'Embeddings convert text into vectors so meaning can be compared mathematically.', source:'week7' } }, { json: { id:'chunk3', text:'Vector databases store embeddings and allow semantic similarity search.', source:'week7' } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -192,
          -144
        ],
        "name": "Sample Chunks",
        "id": "05a61eaf-2b71-4da0-bccb-93a1963b3e0d"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/embeddings",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "text-embedding-3-small"
              },
              {
                "name": "input",
                "value": "=={{$json.text}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          16,
          -144
        ],
        "name": "OpenAi Embedding",
        "id": "56ff353a-3b1c-4fee-95eb-525421a26da5",
        "credentials": {
          "openAiApi": {
            "id": "ixmI9i4jIDxysSAl",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return items.map((item,index)=>{const original=$items('Sample Chunks')[index].json;return { json:{ id:original.id, text:original.text, source:original.source, embedding:item.json.data[0].embedding } };});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          -144
        ],
        "name": "Merge Data",
        "id": "88cbc344-6dca-42d4-8300-c3b6d84188e2"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item=>{const body={ statements:[ { statement:'MERGE (c:Chunk {id:$id}) SET c.text=$text, c.source=$source, c.embedding=$embedding', parameters:{ id:item.json.id, text:item.json.text, source:item.json.source, embedding:item.json.embedding } } ] }; return { json:{ neo4jBody:JSON.stringify(body) } };});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          -144
        ],
        "name": "Prepare Neo4j Body",
        "id": "de214cb7-8d5c-4604-ae6d-7788dba62989"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{$json.neo4jBody}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          624,
          -144
        ],
        "name": "HTTP Request",
        "id": "ebf454e0-5339-4471-af54-beb92ef24453",
        "credentials": {
          "httpBasicAuth": {
            "id": "jqw56x8TsgswTJ25",
            "name": "Unnamed credential"
          }
        }
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Sample Chunks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sample Chunks": {
        "main": [
          [
            {
              "node": "OpenAi Embedding",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAi Embedding": {
        "main": [
          [
            {
              "node": "Merge Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Data": {
        "main": [
          [
            {
              "node": "Prepare Neo4j Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Neo4j Body": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "bb060aa1-41c8-4e59-8674-06ecdc056a13",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-17T09:34:37.720Z",
        "createdAt": "2026-03-17T09:34:37.720Z",
        "role": "workflow:owner",
        "workflowId": "Xgd2flbp4fPcMlLNzwAZV",
        "projectId": "U6s8CwDPyCKnn9l7"
      }
    ],
    "activeVersion": null,
    "tags": []
  },
  {
    "updatedAt": "2026-03-18T08:49:24.045Z",
    "createdAt": "2026-03-18T08:38:04.042Z",
    "id": "e_wxC9gp033cA-G4i7xgH",
    "name": "RAG-Hybrid Seach-Keyword Retrieval workflow",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "81148b3a-f6ba-4f79-817c-ca43dd099646",
        "name": "Manual Trigger"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "52bd61e6-26ef-456c-9218-dc080635ded8",
                "name": "query",
                "value": "{{$json.query}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "id": "d9e21224-f3e8-44a4-9b53-473302dbbf55",
        "name": "Input - User Query"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={\n  \"statements\": [\n    {\n      \"statement\": \"CALL db.index.fulltext.queryNodes('documentContentIndex', $query) YIELD node, score RETURN node.title AS title, score\",\n      \"parameters\": {\n        \"query\": \"{{$json.query}}\"\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          416,
          0
        ],
        "id": "8412d5ab-327f-4a6c-a617-77877533237e",
        "name": "Request til Neo4j",
        "credentials": {
          "httpBasicAuth": {
            "id": "yJRR80som9xIIRfv",
            "name": "Unnamed credential 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const results = $json.results;\nif (!results || results.length === 0) {\n  return [{ json: { message: \"No keyword results\" } }];\n}\nconst rows = results[0].data;\nif (!rows || rows.length === 0) {\n  return [{ json: { message: \"No matches found\" } }];\n}\nreturn rows.map(r => ({\n  json: {\n    title: r.row[0],\n    score: r.row[1]\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          624,
          0
        ],
        "id": "17bf0e32-c481-4a60-9565-3c387d0875fe",
        "name": "Parse Node"
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Input - User Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Input - User Query": {
        "main": [
          [
            {
              "node": "Request til Neo4j",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request til Neo4j": {
        "main": [
          [
            {
              "node": "Parse Node",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "e91e9b16-869f-46ce-ae46-15704b9697a1",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-18T08:38:04.047Z",
        "createdAt": "2026-03-18T08:38:04.047Z",
        "role": "workflow:owner",
        "workflowId": "e_wxC9gp033cA-G4i7xgH",
        "projectId": "U6s8CwDPyCKnn9l7"
      }
    ],
    "activeVersion": null,
    "tags": []
  },
  {
    "updatedAt": "2026-03-18T08:49:32.580Z",
    "createdAt": "2026-03-17T10:24:56.515Z",
    "id": "iKKDB5fKT2DJsYqRdIqwl",
    "name": "RAG-Hybrid Seach-Graph Retrieval workflow",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          208,
          0
        ],
        "id": "d8953853-604d-4787-a6b9-7abaccd95385",
        "name": "Trigger Node"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={\n  \"statements\": [\n    {\n      \"statement\": \"MATCH (d:Document) WHERE toLower(d.content) CONTAINS toLower($query) OPTIONAL MATCH (d)-[:LINKS_TO]->(related) RETURN d.title AS title, collect(related.title) AS related\",\n      \"parameters\": {\n        \"query\": \"{{$json.query}}\"\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          880,
          0
        ],
        "name": "Graph Search – Neo4j",
        "id": "ddadad9b-4aa8-4055-94f6-8ae94ff4bb06",
        "credentials": {
          "httpBasicAuth": {
            "id": "yJRR80som9xIIRfv",
            "name": "Unnamed credential 3"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "33f301c0-753a-42ae-92d3-6d3c536b858a",
                "name": "query",
                "value": "={{$json.query}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          416,
          0
        ],
        "id": "77540220-7f51-417e-8127-3c55f8dcefb4",
        "name": "Input – User Query"
      },
      {
        "parameters": {
          "jsCode": "const results = $json.results;\n\nif (!results || results.length === 0) {\n  return [{ json: { message: \"No graph results\" } }];\n}\n\nconst rows = results[0].data;\n\nif (!rows || rows.length === 0) {\n  return [{ json: { message: \"No matches found\" } }];\n}\n\nreturn rows.map(r => ({\n  json: {\n    title: r.row[0],\n    related: r.row[1]\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1088,
          0
        ],
        "id": "f634fda6-4719-41b5-b312-f801bfa2b68b",
        "name": "Parse Graph Results"
      },
      {
        "parameters": {
          "jsCode": "const q = $json.query\n  .toLowerCase()\n  .replace(/\\s+/g, \"_\");\n\nreturn [{\n  json: {\n    query: q\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          624,
          0
        ],
        "id": "6f520d41-c9aa-409e-92fd-cc00393d9b63",
        "name": "Normalisering af tekst"
      }
    ],
    "connections": {
      "Trigger Node": {
        "main": [
          [
            {
              "node": "Input – User Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Input – User Query": {
        "main": [
          [
            {
              "node": "Normalisering af tekst",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Graph Search – Neo4j": {
        "main": [
          [
            {
              "node": "Parse Graph Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalisering af tekst": {
        "main": [
          [
            {
              "node": "Graph Search – Neo4j",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "183c8446-14f0-4e34-bcd6-09be700133b3",
    "activeVersionId": "de5ce7cd-e1af-4fac-bc16-3eb246bbf109",
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-03-17T10:24:56.520Z",
        "createdAt": "2026-03-17T10:24:56.520Z",
        "role": "workflow:owner",
        "workflowId": "iKKDB5fKT2DJsYqRdIqwl",
        "projectId": "U6s8CwDPyCKnn9l7"
      }
    ],
    "activeVersion": {
      "updatedAt": "2026-03-17T12:10:50.000Z",
      "createdAt": "2026-03-17T11:52:44.888Z",
      "versionId": "de5ce7cd-e1af-4fac-bc16-3eb246bbf109",
      "workflowId": "iKKDB5fKT2DJsYqRdIqwl",
      "nodes": [
        {
          "parameters": {
            "path": "53e03e99-8d3d-411c-bb07-c2d0f6c232d2",
            "options": {}
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            0,
            0
          ],
          "id": "775aad77-d55e-4ac7-95aa-a27df6cf7878",
          "name": "Webhook",
          "webhookId": "53e03e99-8d3d-411c-bb07-c2d0f6c232d2"
        },
        {
          "parameters": {
            "method": "POST",
            "url": "http://neo4j:7474/db/neo4j/tx/commit",
            "authentication": "genericCredentialType",
            "genericAuthType": "httpBasicAuth",
            "sendBody": true,
            "contentType": "raw",
            "rawContentType": "application/json",
            "body": "={ \"statements\": [ { \"statement\": \"MATCH (d:Document) RETURN d.title, substring(d.content,0,200) AS preview LIMIT 5\", \"parameters\": {} } ] }",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            256,
            0
          ],
          "name": "Query Neo4j",
          "id": "ddadad9b-4aa8-4055-94f6-8ae94ff4bb06",
          "credentials": {
            "httpBasicAuth": {
              "id": "yJRR80som9xIIRfv",
              "name": "Unnamed credential 3"
            }
          }
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "Query Neo4j",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Peyton Hunter",
      "name": "Version de5ce7cd",
      "description": "",
      "autosaved": true
    },
    "tags": []
  },
  {
    "updatedAt": "2026-03-17T09:31:02.061Z",
    "createdAt": "2026-03-17T09:31:02.061Z",
    "id": "yAyV8DNoEYARceU0Yku_i",
    "name": "Email Weather Report",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [
          -288,
          -48
        ],
        "name": "Daily Trigger",
        "id": "f42e285a-a066-4006-9631-367368249622"
      },
      {
        "parameters": {
          "url": "https://api.openweathermap.org/data/2.5/weather?q=Copenhagen,DK&appid={{ $credentials.openWeather.key }}&units=metric",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          -96,
          -48
        ],
        "name": "Get Weather",
        "id": "7116d666-1a68-4eab-bdcc-c33b4fecbdbd"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          112,
          -48
        ],
        "name": "Extract Data",
        "id": "c064ad79-c9e0-4093-8b31-da51866c0a84"
      },
      {
        "parameters": {
          "fromEmail": "Nando.goat@gmail.com",
          "toEmail": "Nando.goat@gmail.com",
          "subject": "Today's weather in Copenhagen",
          "text": "=Vejret i {{ $json.city }}\nTemperatur: {{ $json.temp }} °C\nFøles som: {{ $json.feels_like }} °C",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2,
        "position": [
          320,
          -48
        ],
        "name": "Send Email",
        "id": "4e90612f-70e1-4bc0-b0d6-274afd948f51",
        "webhookId": "dd0dd9ee-f903-4630-bbb8-cf9de84d2aa4"
      }
    ],
    "connections": {
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "Get Weather",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Weather": {
        "main": [
          [
            {
              "node": "Extract Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Data": {
        "main": [
          [
            {
              "node": "Send Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "4f74fe58-df00-403c-9455-aab6832b2775",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-17T09:31:02.069Z",
        "createdAt": "2026-03-17T09:31:02.069Z",
        "role": "workflow:owner",
        "workflowId": "yAyV8DNoEYARceU0Yku_i",
        "projectId": "U6s8CwDPyCKnn9l7"
      }
    ],
    "activeVersion": null,
    "tags": []
  },
  {
    "updatedAt": "2026-03-17T09:54:33.582Z",
    "createdAt": "2026-03-17T09:31:20.489Z",
    "id": "yJHBAB5JLN1rHJi3xjLhM",
    "name": "RAG-Embed",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "name": "Manual Trigger",
        "id": "dfc577bd-0476-4b83-b6cf-efb38ba4ce82"
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { question: 'How do vector databases work?' } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ],
        "name": "Set Question",
        "id": "14bf0413-69cb-4581-8228-94f89c28f44c"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/embeddings",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "text-embedding-3-small"
              },
              {
                "name": "input",
                "value": "={{ $json.question }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          400,
          0
        ],
        "name": "Get Embedding",
        "id": "c1960812-3836-48a5-8156-cbbce0b4591c",
        "credentials": {
          "openAiApi": {
            "id": "ixmI9i4jIDxysSAl",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return items.map((item, index) => ({ json: { question: $items('Set Question')[index].json.question, embedding: item.json.data[0].embedding } }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          0
        ],
        "name": "Format Embedding",
        "id": "cdf72373-960a-48aa-8538-90bb8937be0a"
      },
      {
        "parameters": {
          "jsCode": "const body = { statements: [{ statement: `CALL db.index.vector.queryNodes('course_chunks', 3, $embedding) YIELD node, score RETURN node.id AS id, node.text AS text, node.source AS source, score ORDER BY score DESC`, parameters: { embedding: items[0].json.embedding } }] }; return [{ json: { question: items[0].json.question, neo4jBody: JSON.stringify(body) } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          0
        ],
        "name": "Prepare Neo4j Query",
        "id": "1c393ec5-0ca5-4fa8-b85c-e491b07fa05f"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "=application/json",
          "body": "={   \"statements\": [     {       \"statement\": \"CALL db.index.vector.queryNodes('course_chunks', 3, $embedding) YIELD node, score RETURN node.id AS id, node.text AS text, node.source AS source, score ORDER BY score DESC\",       \"parameters\": {         \"embedding\": {{$json[\"embedding\"]}}       }     }   ] }",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1008,
          0
        ],
        "name": "Query Neo4j",
        "id": "e3e5faf5-a48e-470a-b3aa-f8c8b1eef79f",
        "credentials": {
          "httpBasicAuth": {
            "id": "jqw56x8TsgswTJ25",
            "name": "Unnamed credential"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => { const rows = item.json.results?.[0]?.data ?? []; return { json: { matches: rows.map(r => ({ id: r.row[0], text: r.row[1], source: r.row[2], score: r.row[3] })) } }; });"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          0
        ],
        "name": "Format Results",
        "id": "8382f613-2343-4f45-8411-42c97f3fbeda"
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Set Question",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Question": {
        "main": [
          [
            {
              "node": "Get Embedding",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Embedding": {
        "main": [
          [
            {
              "node": "Format Embedding",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Embedding": {
        "main": [
          [
            {
              "node": "Prepare Neo4j Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Neo4j Query": {
        "main": [
          [
            {
              "node": "Query Neo4j",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Query Neo4j": {
        "main": [
          [
            {
              "node": "Format Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "7f54f346-1b18-4b11-89ba-29b9db71ad58",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-17T09:31:20.497Z",
        "createdAt": "2026-03-17T09:31:20.497Z",
        "role": "workflow:owner",
        "workflowId": "yJHBAB5JLN1rHJi3xjLhM",
        "projectId": "U6s8CwDPyCKnn9l7"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
]